<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
    <script src="/static/js/echarts.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->

<div id="main" style="width: 800px;height:250px;">
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        option = {
            title: {
                text: 'IP流量图IN',
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: [
                    {% for i in legend %}
                        '{{ i }}',
                    {% endfor %}
                ]
            },
            grid: {
                left: '10%',
                right: '0%',
                bottom: '0%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: [
                    {% for yaxi in yaxis %}
                        '{{ yaxi }}',
                    {% endfor %}
                ]
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {% for ip in series %}
                    {
                        name: '{{ ip.name }}',
                        type: 'line',
                        stack: '总量',
                        data: [{% for data in ip.data %}'{{ data }}',{% endfor %}]
                    },
                {% endfor %}
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        {#myChart.clear();#}
        {#option.legend.data=ips_data;#}
        myChart.setOption(option);

    </script>
</div>
<p style="margin: 12px; left: 20px">MB/s</p>
<div id="main1" style="width: 800px;height:250px;">
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('main1'));
        var ips_data = [];

            {% for i in ips_list %}
                ips_data.push('{{ i }}');
            {% endfor %}
        // 指定图表的配置项和数据


    option = {
        title: {
            text: 'IP流量图(OUT)',
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: [
                {% for ip in ips_list %}
                        '{{ ip }}',
                    {% endfor %}
                ]
            },
            grid: {
                left: '10%',
                right: '0%',
                bottom: '0%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['1', '2', '3', '4', '5', '6']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {% for ip in ips_list %}
                    {
                        name: '{{ ip }}',
                        type: 'line',
                        stack: '总量',
                        data: [23, 34, 5, 67, 45, 12]
                    },
                {% endfor %}
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option);

    </script>

</div>

</body>
<script src="/static/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
</html>