<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>测试仪2</div>


{#{% for i in  idc_list %}#}
{#    <div>{{ idc_list }}</div>#}
{##}
{#{% for i in ips_list %}#}
{#    <div>{{ i }}</div>#}
{#{% endfor %}#}
{##}
{#{{ ips }}#}


{{ flow_data }}

{#{% endfor %}#}




{#<script type="text/javascript">#}
{#    var ips_data = [];#}
{#    {% for item in ips_list %}#}
{#        ips_data.push({{ item }})#}
{#    {% endfor %}#}
{##}
{#    ips_data#}
{##}
{#</script>#}


</body>
</html>