<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/vue.min.js"></script>
        <style>
        .yangshi1 {
            background-color: aqua;
            width: 100px;
            height: 100px;
        }

        .yangshi2 {
            background-color: rebeccapurple;
            width: 100px;
            height: 100px;
        }
        </style>
</head>
<body>

<div>test1</div>



{% for i in idc_list %}
    <div><a href="/monitor/detail1/?idc={{ i.IDC }}">{{ i.IDC }}</a></div>
{% endfor %}

    <div id="div">
        <button @click="qiehuan">切换</button>
        <div v-bind:class="{ yangshi1: ys1 ,yangshi2: ys2}"></div>
    </div>
</body>
<script>
        var dianji = new Vue({
            el: "#div",
            data: {
                ys1: true,
                ys2: false
            },
            methods: {
                qiehuan() {
                    //当点击第一次时，ys1从true变为false,Style样式yangshi1就会隐藏
                    //再点击第二次的时候由false,变为true,显示样式
                    this.ys1 = !this.ys1
                        //代码运行到下面，值为false的时候，取反，就会为true，Style样式yangshi2就会显示
                        //这里到第二次点击的时候，就由true变为false，隐藏样式
                    this.ys2 = !this.ys2 　　//这里 “  ！” 是取反
                }
            }

        })
</script>
</html>