<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.min.js"></script>
</head>
<body>

<div>测试仪2</div>


{#{% for i in  idc_list %}#}
{#    <div>{{ idc_list }}</div>#}
{##}
{#{% for i in ips_list %}#}
{#    <div>{{ i }}</div>#}
{#{% endfor %}#}
{##}
{#{{ ips }}#}

{#<div>{{ flow_data }}</div>#}
{#{% for i in ips_list %}#}
{#<div>{{ i }}</div>#}
{#{% endfor %}#}
{##}
{#{% for k in idc_list %}#}
{#<div>{{ k }}</div>#}
{#{% endfor %}#}
<div><a>======================分隔符======================</a></div>

{#{% for k,v in flow_data.items %}#}
{#<div>{{ k }}-{{ v }}</div>#}
{#{% endfor %}#}


{#{% for i in flow_data %}#}
{#    {% for x in i %}#}
{#        <div>{{ x.time_s }}</div>#}
{#        <div>{{ x.IP }}</div>#}
{#        <div>{{ i.transfer_in }}</div>#}
{#        <div>{{ i.transfer_out }}</div>#}
{#    {% endfor %}#}
{#{% endfor %}#}

{% for flow_datum in flow_data %}
{% for foo in flow_datum %}
<div>{{ foo }}</div>
{% endfor %}
{% endfor %}

<div style="color: #8a1f11"><a>======================分隔符======================</a></div>



{% for i in legend %}
    {{ i }}
{% endfor %}


{% for yaxi in yaxis %}
<div>{{ yaxi }}</div>
{% endfor %}

{{ idc_list }}


<div style="color: #8a1f11"><a>======================分隔符======================</a></div>

{{ series }}

<div style="color: #8a1f11"><a>======================分隔符======================</a></div>
{% for i in idc_list.values %}
    {% for x,v in i.items %}
        {{ x }}-{{ v }}
    {% endfor %}
{% endfor %}
<div style="color: #8a1f11"><a>======================分隔符======================</a></div>
<div id="app">
		<li v-for="item,key in list">
			<span>{{item}}</span>
</div>


</body>
<script>
    let vm = new Vue({
        el: "#app",
        data:{
            list: {{ idc_list }}
        }
    });
</script>
</html>