{% extends "netops.html" %}
{% block head %}
 <title>流量查询</title>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch-metro.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-datetimepicker/css/datetimepicker.css"/>

{% endblock %}

{% block page-bar %}
                   <div class="container">
                    <div class="row">
                   <div  class="col-md-2">
                       <li>
                           <a href="{% url 'traffic:indextraffic'%}"}>Home</a>
      
                       </li>
                    </div>

                    <div  class="col-md-2">
                       <li>
                           <a href="{% url 'traffic:indextraffic'%}">流量查询</a>
       
                       </li>
                       </div>
                    
                    <div  class="col-md-2">
                       <li>
                         <a href="{% url 'traffic:allidc'%}">IDC流量全景</a>
       
                    </li>
                    </div>
                    </div>
                    </div>
{% endblock%}

{% block content %}
<div class="context">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    流量搜索
                </div>
                <div class="tools">
                    <a class="collapse" href=""></a>
                    <a class="reload" href=""></a>
                    <a class="remove" href=""></a>
                </div>
                </div>
            <div class="portlet-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1" data-toggle="tab">IDC查询</a>
                    </li>
                    <li>
                        <a href="#tab_2" data-toggle="tab">IP查询</a>
                    </li>

                </ul>


                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab_1">
                    <form id="form_idc">
                    <div class="row">
                        <div class="col-md-6">
                        <div class="form-group">
                        <div class="col-md-4">
                        <label>IDC:</label>
                        </div>
                        <div class="col-md-8">
                         <select multiple class="select2-multiple form-control" id="selidc">
                                {% for idc in data %}
                                <option value="{{idc}}">{{idc}}</option>
                                {% endfor %}
                                <option value="all">All</option>
                        </select>

			</div>
                        </div>
                        </div>
                

                        <div class="col-md-6">
                                <div class="col-md-4">
                                    <label>IP排名:</label>
                                </div>
                                <div class="col-md-4">
                                <!--  <input type="checkbox" id="sort"></input> -->
                                <select id="sort" class="form-control">
                                    <option value=0></option>
                                    <option value=1>流量峰值</option>
                                    <option value=2>流量总和</option>
                                </select>
                                </div>

                            <div class="col-md-3 col-md-offset-1">
                            <select class="form-control" disabled="true" id="multi">
                                 <option>3</option>
                                 <option>5</option>
                                 <option>10</option>
                                 <option>20</option>
                                 <option>30</option>
                                 <option>50</option>
                                 <option>100</option>
                            </select>
                            </div>

                        </div>
                    </div>

                        <div class="form-actions" style="margin-top:20px;">
                    
                            <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-4">开始时间:</label>
                                        <div class="col-md-8">
                                            <div class="input-group date form_datetime" data-data="2016-05-30T15:25:00Z" data-date-format="yyyy-mm-dd hh:ii">
                                                <input type="text" size="16" class="form-control" id="t_from_idc"  name="t_from_idc"></input>
                                                <span class="input-group-btn">
                                                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                                                </span>
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-4">结束时间:</label>
                                        <div class="col-md-8">
                                            <div class="input-group date form_datetime" data-data="2016-05-30T15:25:00Z">
                                                <input type="text" size="16" class="form-control" id="t_to_idc"  name="t_to_idc"></input>
                                                <span class="input-group-btn">
                                                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                                                </span>
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <p style="text-align:center;color:red;font-size;font-style:italic" class="errortext"></p>
                            </div>
                            <div class="row">
                            <div class="col-md-4">
                            <button class="btn blue" type="submit" id="check">查看</button>
                            </div>

                    </div>
                    </form>
                    </div>
                    </div>

                    <div class="tab-pane fade" id="tab_2">
                        <form id="form_ip">
                        <textarea  name="ipinfo" id="ipinfo" row="10"  class="form-control"  style="height:170px;width:600px"></textarea>
                        <p class="help-block">输入IP地址或地址段,每行输入一个</p>

                        
                          <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-4">开始时间:</label>
                                        <div class="col-md-8">
                                            <div class="input-group date form_datetime" data-data="2016-05-30 15:25">
                                                <input type="text" size="16" class="form-control"  id="t_from_ip" name="t_from_ip"></input>
                                                <span class="input-group-btn">
                                                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                                                </span>
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label col-md-4">结束时间:</label>
                                        <div class="col-md-8">
                                            <div class="input-group date form_datetime" data-data="2016-05-30T15:25:00Z">
                                                <input type="text" size="16" class="form-control"  id="t_to_ip" name="t_to_ip"></input>
                                                <span class="input-group-btn">
                                                    <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                                                </span>
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                         <div class="row">
                                <p style="text-align:center;color:red;font-size;font-style:italic" class="errortext_ip"></p>
                            </div>
                        
    
                        
                        <button class="btn blue" type="submit" id="ipindex">搜索</button>
                        <button class="btn blue"  id="ipsum">查看总和</button>
                        <button class="btn default" type="reset">取消</button>
                    </div>
                    </form>
                </div>

            </div>
            </div>

</div>
{% endblock %}

{% block script%}

      <script src="/static/assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="/static/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/assets/scripts/datecompare.js"></script>
    <script src="/static/assets/scripts/form-components.js"></script>

      <script type="text/javascript">


    $(document).ready(function() {       
   // initiate layout and plugins
   App.init();
   function getdate(inter){
        var date =  new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1
        var day = date.getDate();
        
        var hour = date.getHours();
        if (inter){
                if (hour<inter){
                day = day-1;
                hour = 24-(inter-hour);
            }
                else{
                    hour = hour-inter
                }
        }
        var second = date.getMinutes();
        
        if(month < 10){
            month = "0"+month
        }
        if(day<10){
            day="0"+day
        }
         if (hour<10){
            hour="0"+hour
        }
        if (second<10){
            second="0"+second
        }
        return year+"-"+month+"-"+day+" "+hour+":"+second
   }
   $("#t_to_idc,#t_to_ip").val(getdate())
   $("#t_from_idc,#t_from_ip").val(getdate(6))




   $("#t_from_idc").val()
   FormComponents.init();
   

$(".select2-multiple").select2({
    placeholder:"请输入或选择IDC"
})


})




 $("#check").click(function(){
   $("#form_idc").validate({
        onsubmit:true,
        onfocusout:false,
        onkeyup:false,
        rules:{
            t_to_idc:{
            compareDateIdc:true
                }
        },
        errorElement:"font",
        errorPlacement:function(error,element){
            error.appendTo(".errortext")
        },
        submitHandler:function(){
        var idcs = []
        var date = new Date;
        t_from = Date.parse($("#t_from_idc").val())
        t_to = Date.parse($("#t_to_idc").val())

        idcs = $("#selidc").val();


        var sort_num = $("#multi").find("option:selected").text()
        var sort = $("#sort").val()
/*        if ($("#sort").is(":checked")) {
            sort = 1
        }
        else {
            sort = 0
        }*/
        console.log(sort)
    if (idcs && t_from && t_to){
        $.get("{% url 'traffic:imageurl'%}",{"idcs":JSON.stringify(idcs),"sort":sort,"sort_num":sort_num,"from_t":t_from,"to_t":t_to},function(data){
                   
                        location.href = data
        },"json")
    }
        },

        invalidHandler:function(){
            return false;
        }
    })
})




    $("#ipindex").click(function(){
    $("#form_ip").validate({
        onsubmit:true,
        onfocusout:false,
        onkeyup:false,
        rules:{
        t_to_ip:{
            compareDateIp:true
                }
            },
        errorElement:"font",
        errorPlacement:function(error,element){
            error.appendTo(".errortext_ip")
        },
        submitHandler:function(){
        var ips = $("#ipinfo").val();
        var t_from = Date.parse($("#t_from_ip").val());
        var t_to = Date.parse($("#t_to_ip").val());
        console.log(ips)
        
    if(ips && t_from && t_to){
        $.get("{% url 'traffic:imageurl'%}",{"ips":ips,"from_t":t_from,"to_t":t_to,"flag":1},function(data){
                    location.href = data
        },"json")
    }
        },
         invalidHandler:function(){
            return false;
        }
        
    })
    })



    $("#ipsum").click(function(){
    $("#form_ip").validate({
        onsubmit:true,
        onfocusout:false,
        onkeyup:false,
        rules:{
        t_to_ip:{
            compareDateIp:true
                }
            },
        errorElement:"font",
        errorPlacement:function(error,element){
            error.appendTo(".errortext_ip")
        },
        submitHandler:function(){
        var ips = $("#ipinfo").val();
        var t_from = Date.parse($("#t_from_ip").val());
        var t_to = Date.parse($("#t_to_ip").val());

        
    if(ips && t_from && t_to){
        $.get("{% url 'traffic:imageurl'%}",{"ips":ips,"from_t":t_from,"to_t":t_to,"flag":0},function(data){
                    location.href = data
        },"json")
    }
        },
         invalidHandler:function(){
            return false;
        }
        
    })
    })







    $("#sort").change(function(){
            if ($("#sort").val() != 0){
                $("#multi").removeAttr("disabled")
            }
            else {
                 $("#multi").attr("disabled","disabled")
            }
    })



             {# select all checkbox #}
    $("#hov").click(function(){
        flag= $("input[name='checkbox']").attr("checked")
        $("input[name='checkbox']").prop("checked",(!flag))
    })


    {#  check idc image  submit #}
   




    {#  check ip image  submit #}
    

    
      </script>
{% endblock %}
